---
import Main from "@/layouts/Main.astro";
import PageHeader from "@/components/blocks/PageHeader.astro";
import AuthorCardLg from "@/components/blocks/AuthorCardLg.astro"; // Import the new component

import { getSinglePage } from "@/lib/contentParser.astro";

// get all static paths for people
export async function getStaticPaths() {
  const PEOPLE_FOLDER = "people";
  const people = await getSinglePage(PEOPLE_FOLDER);

  const paths = people.map((person) => ({
    params: {
      single: person.id,
    },
    props: { person },
  }));
  return paths;
}

const { person } = Astro.props;
const { name, role } = person.data;

// Attributes
const content = { title: name };
---

<Main content={content} makara>
  <PageHeader title={role} />
  <section class="mx-auto flex max-w-6xl flex-col px-2 py-16">
    <AuthorCardLg person={person} />
  </section>

  <div class="row justify-center pt-14 pb-16"></div>
</Main>
