---
import { Image } from "astro:assets";
import Social from "@/components/blocks/Social.astro";
import Avatar from "@/components/ui-astro/Avatar.astro";

import { cn, plainify } from "@/lib/utils.ts";

const { data, className } = Astro.props;
const { name, image, social } = data.data;
---

<div class={cn("relative w-fit content-center py-4 max-w-3xl", className)}>
  <div class="flex flex-row items-center gap-3 align-middle">
    <Avatar image={image} loading="lazy" />
    <h2 class="text-primary flex text-center text-xl font-bold">
      <a href={`/teams/${data.id}`}>{name}</a>
    </h2>
  </div>
  <p class="mt-4 mb-2 font-light">{plainify(data.body?.slice(0, 500))}</p>
  <Social socialLinks={social} />
</div>
