---
import Button from "@/components/ui-astro/Button.astro";
import Main from "@/layouts/Main.astro";

// --- Props for the Main layout ---
// We define the content needed for the SEO component in the layout.
const content = {
  title: "404 Not Found",
  description: "Sorry, the page you are looking for could not be found.",
};
---

<Main content={content} makara={true}>
  <section class="flex h-[70vh] items-center justify-center py-16">
    <div class="prose dark:prose-invert mx-auto max-w-screen-sm text-center">
      <h1
        class="text-primary mb-4 text-7xl font-extrabold tracking-tight lg:text-9xl"
      >
        404
      </h1>
      <h2>Something's missing.</h2>
      <p>
        Sorry, we can't find that page. You'll find lots to explore on the home
        page.
      </p>
      <Button class="not-prose" href="/"> Back to Homepage </Button>
    </div>
  </section>
</Main>
