---
import Main from "@/layouts/Main.astro";

// Component Imports
import { Button } from "@/components/ui/button.tsx";
//
const content = { title: "light Mode" };
---

<Main content={content} mode="dark">
  <body>
    <a href="/" class="absolute p-8 underline">Light!</a>
    <div class="grid h-screen place-items-center content-center">
      <Button client:load>Tailwind Button in Astro!</Button>
    </div>
  </body>
</Main>
