---
import Main from "@/layouts/Main.astro";

// UI Imports
import Button from "@/components/ui-astro/Button.astro";

// Component imports
import Hero from "@/components/Hero.astro";

// Attributes
const content = { title: "light Mode" };
---

<Main content={content}>
  <Hero
    actions={[
      {
        text: "Contact Us",
        href: "#",
        target: "_self",
        icon: "FaWhatsapp",
        size: "lg",
      },
      {
        text: "About Us",
        icon: "FaUsers",
        href: "#features",
        size: "lg",
      },
    ]}
    imageBg={{
      src: "/images/hero-bg.jpeg",
      height: 512,
      width: 1024,
      alt: "AstroWind Hero Image",
    }}
  >
    <Fragment slot="tagline">Faculty of Public Health</Fragment>
    <Fragment slot="title">
      CENTER FOR HEALTH ADMINISTRATION & POLICY STUDIES
    </Fragment>
    <Fragment slot="subtitle">
      <span class="hidden sm:block">
        Bridging Research, Policy, and Practice for Tomorrow’s Healthcare
      </span>
    </Fragment>
    <Fragment slot="content">
      The foundation of health development must be based on policy
      considerations that encourage the fulfilment of society's health needs in
      an effective, efficient, equitable, and sustainable manner.
    </Fragment>
  </Hero>
  <div class="grid place-items-center content-center"></div>
</Main>
