---
import Main from "@/layouts/Main.astro";

import SideBar from "@/components/SideBar.astro";

// Attributes
const content = { title: "About Us - Values" };
---

<Main content={content}>
  <section class="mx-auto grid max-w-6xl grid-cols-5 gap-6 p-6 pb-24 xl:gap-16">
    <SideBar class="col-span-5 lg:col-span-1" />
    <article
      class="prose dark:prose-invert col-span-5 min-w-full font-light lg:col-span-4"
    >
      <h1
        class="font-lexend text-primary mt-8 mb-2 w-fit scroll-mt-24 text-6xl font-semibold"
      >
        VALUES
      </h1>
      <div class="max-w-3xl">
        <p>
          Driven by our core values of Objectivity, Togetherness, Empowerment,
          and Quality Improvement, Sincerity, CHAMPS is committed to being a
          catalyst for progress in the field of public health. We envision a
          future where every individual has access to quality healthcare and
          where policies truly serve the health needs of the population. At the
          heart of everything we do are the principles that guide our actions,
          decisions, and interactions. These values are not just words; they are
          the foundation of our culture and our commitment to you.
        </p>

        <div>
          <h2>Objectivity</h2>
          <p>
            We believe in approaching every situation with a clear, unbiased
            mind. Our commitment to <strong>objectivity</strong>
            means we base our decisions on facts and evidence, ensuring fair and
            sound judgments in all our endeavors.
          </p>
        </div>
        <div>
          <h2>Togetherness</h2>
          <p>
            We foster a spirit of collaboration and mutual support. <strong
              >Togetherness</strong
            >
            means we work as a unified team, valuing diverse perspectives and leveraging
            our collective strengths to achieve common goals and support one another's
            success.
          </p>
        </div>
        <div>
          <h2>Empowerment</h2>
          <p>
            We champion growth and enable potential. <strong>Empowerment</strong
            >
            is about providing our team and our clients with the tools, knowledge,
            and autonomy to take initiative, make impactful decisions, and reach
            their full potential.
          </p>
        </div>
        <div>
          <h2>Quality Improvement</h2>
          <p>
            We are dedicated to continuous growth and excellence. <strong
              >Quality improvement</strong
            >
            is an ongoing journey for us; we consistently seek ways to refine our
            processes, enhance our services, and deliver the highest possible standards
            in everything we do.
          </p>
        </div>
        <div>
          <h2>Sincerity</h2>
          <p>
            We operate with honesty, integrity, and genuine care. Our commitment
            to <strong>sincerity</strong>
            means we are transparent in our communication, authentic in our relationships,
            and always act with the best interests of our clients and colleagues
            at heart.
          </p>
        </div>
      </div>
      <hr class="!bg-primary/10 my-8 !h-px w-full !border-0 border-t" />
      <p>
        Want to work with us? contact us at <a href="mailto:champs@ui.ac.id"
          >champs@ui.ac.id</a
        >.
      </p>
    </article>
  </section>
</Main>
