---

---

<div
  id="customers-table"
  class="LayoutContent_root__ZBUya LayoutContent_size-page__qY_Nc"
>
  <!-- Header -->
  <div class="Flex_root__DOQCW Flex_align-center__oXK9F Flex_column__eg2kV">
    <div class="LayoutContent_root__ZBUya LayoutContent_size-3__UZBbC">
      <h2 class="sc-14eeae68-0 jIZtSC">
        Powering 15,000+ ambitious product teams of all shapes and sizes
      </h2>
    </div><div class="hide-mobile Spacer_root__uoSvA" style="--height: 64px;">
    </div><div class="show-mobile Spacer_root__uoSvA" style="--height: 32px;">
    </div><div
      dir="ltr"
      data-orientation="horizontal"
      class="CustomerTable_tabs__Til08"
    >
      <div
        role="tablist"
        aria-orientation="horizontal"
        class="CustomerTable_tablist___yrVr utils_hideScrollbars__TzPqp"
        tabindex="0"
        data-orientation="horizontal"
        style="outline: none;"
      >
        <button
          type="button"
          role="tab"
          aria-selected="true"
          aria-controls="radix-:rv:-content-featured"
          data-state="active"
          id="radix-:rv:-trigger-featured"
          class="CustomerTable_tab__YphWH reset_reset-button__5vBZ4"
          tabindex="-1"
          data-orientation="horizontal"
          data-radix-collection-item=""
          ><span class="sc-14eeae68-0 iUAxbA">Featured</span></button
        ><button
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="radix-:rv:-content-saas"
          data-state="inactive"
          id="radix-:rv:-trigger-saas"
          class="CustomerTable_tab__YphWH reset_reset-button__5vBZ4"
          tabindex="-1"
          data-orientation="horizontal"
          data-radix-collection-item=""
          ><span class="sc-14eeae68-0 iUAxbA">SaaS</span></button
        ><button
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="radix-:rv:-content-ai"
          data-state="inactive"
          id="radix-:rv:-trigger-ai"
          class="CustomerTable_tab__YphWH reset_reset-button__5vBZ4"
          tabindex="-1"
          data-orientation="horizontal"
          data-radix-collection-item=""
          ><span class="sc-14eeae68-0 iUAxbA">AI</span></button
        ><button
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="radix-:rv:-content-fintech"
          data-state="inactive"
          id="radix-:rv:-trigger-fintech"
          class="CustomerTable_tab__YphWH reset_reset-button__5vBZ4"
          tabindex="-1"
          data-orientation="horizontal"
          data-radix-collection-item=""
          ><span class="sc-14eeae68-0 iUAxbA">Fintech</span></button
        ><button
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="radix-:rv:-content-consumer"
          data-state="inactive"
          id="radix-:rv:-trigger-consumer"
          class="CustomerTable_tab__YphWH reset_reset-button__5vBZ4"
          tabindex="-1"
          data-orientation="horizontal"
          data-radix-collection-item=""
          ><span class="sc-14eeae68-0 iUAxbA">Consumer</span></button
        ><button
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="radix-:rv:-content-hardware"
          data-state="inactive"
          id="radix-:rv:-trigger-hardware"
          class="CustomerTable_tab__YphWH reset_reset-button__5vBZ4"
          tabindex="-1"
          data-orientation="horizontal"
          data-radix-collection-item=""
          ><span class="sc-14eeae68-0 iUAxbA">Hardware</span></button
        ><button
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="radix-:rv:-content-crypto"
          data-state="inactive"
          id="radix-:rv:-trigger-crypto"
          class="CustomerTable_tab__YphWH reset_reset-button__5vBZ4"
          tabindex="-1"
          data-orientation="horizontal"
          data-radix-collection-item=""
          ><span class="sc-14eeae68-0 iUAxbA">Crypto</span></button
        ><button
          type="button"
          role="tab"
          aria-selected="false"
          aria-controls="radix-:rv:-content-healthcare"
          data-state="inactive"
          id="radix-:rv:-trigger-healthcare"
          class="CustomerTable_tab__YphWH reset_reset-button__5vBZ4"
          tabindex="-1"
          data-orientation="horizontal"
          data-radix-collection-item=""
          ><span class="sc-14eeae68-0 iUAxbA">Health</span></button
        >
      </div>
    </div>
  </div>

  <!-- First -->
  <a
    class="CustomerTable_row__TBvEg Link_root__cNtak"
    rel="noopener"
    href="/customers/openai"
    ><div
      class="Grid_root__iRfoa"
      style='width: 100%; align-items: center; --grid-areas-default: "a a a a a c c c c . d d"; --grid-areas-tablet: "a a a a d d d d"; --grid-areas-mobile: "a a d d";'
    >
      <div class="Grid_a__vY7M8">
        <div
          class="Flex_root__DOQCW Flex_align-center__oXK9F"
          style="gap: 16px;"
        >
          <div class="CustomerTable_symbol__VvHIz">
            <img
              alt="OpenAI logo"
              data-nosnippet="true"
              data-loaded="true"
              loading="lazy"
              width="56"
              height="56"
              decoding="async"
              data-nimg="1"
              class="Image_root__UkRqc"
              src="https://webassets.linear.app/images/ornj730p/production/ae73f1a60bba9e74933fe43829bc084f4dddcacf-56x56.svg?q=95&auto=format&dpr=2"
              style="color: transparent;"
            />
          </div><span class="sc-14eeae68-0 elDVBz">OpenAI</span>
        </div>
      </div><div class="hide-tablet Grid_c__Tv5Qw">
        <span class="sc-14eeae68-0 ikOIDN"><span>AI</span></span>
      </div><div class="Grid_d__WN1qv" style="justify-self: end;">
        <span class="sc-14eeae68-0 eTSIlF"
          ><div
            class="Flex_root__DOQCW Flex_inline__8Gx2p Flex_center__qqy7h"
            style="gap: 6px;"
          >
            Read story<svg
              class=""
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="currentColor"
              role="img"
              focusable="false"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              style="--icon-color: currentColor;"
              ><path
                d="M5.46967 11.4697C5.17678 11.7626 5.17678 12.2374 5.46967 12.5303C5.76256 12.8232 6.23744 12.8232 6.53033 12.5303L10.5303 8.53033C10.8207 8.23999 10.8236 7.77014 10.5368 7.47624L6.63419 3.47624C6.34492 3.17976 5.87009 3.17391 5.57361 3.46318C5.27713 3.75244 5.27128 4.22728 5.56054 4.52376L8.94583 7.99351L5.46967 11.4697Z"
              ></path></svg
            >
          </div></span
        >
      </div>
    </div></a
  >

  <!-- Second -->
  <a
    class="CustomerTable_row__TBvEg Link_root__cNtak"
    rel="noopener"
    href="/customers/ramp"
    ><div
      class="Grid_root__iRfoa"
      style='width: 100%; align-items: center; --grid-areas-default: "a a a a a c c c c . d d"; --grid-areas-tablet: "a a a a d d d d"; --grid-areas-mobile: "a a d d";'
    >
      <div class="Grid_a__vY7M8">
        <div
          class="Flex_root__DOQCW Flex_align-center__oXK9F"
          style="gap: 16px;"
        >
          <div class="CustomerTable_symbol__VvHIz">
            <img
              alt="Ramp logo"
              data-nosnippet="true"
              data-loaded="true"
              loading="lazy"
              width="56"
              height="56"
              decoding="async"
              data-nimg="1"
              class="Image_root__UkRqc"
              src="https://webassets.linear.app/images/ornj730p/production/e9c3418281b47ca44133dbc5adc2fe87ba365dd8-56x56.svg?q=95&auto=format&dpr=2"
              style="color: transparent;"
            />
          </div><span class="sc-14eeae68-0 elDVBz">Ramp</span>
        </div>
      </div><div class="hide-tablet Grid_c__Tv5Qw">
        <span class="sc-14eeae68-0 ikOIDN"><span>Fintech</span></span>
      </div><div class="Grid_d__WN1qv" style="justify-self: end;">
        <span class="sc-14eeae68-0 eTSIlF"
          ><div
            class="Flex_root__DOQCW Flex_inline__8Gx2p Flex_center__qqy7h"
            style="gap: 6px;"
          >
            Read story<svg
              class=""
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="currentColor"
              role="img"
              focusable="false"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              style="--icon-color: currentColor;"
              ><path
                d="M5.46967 11.4697C5.17678 11.7626 5.17678 12.2374 5.46967 12.5303C5.76256 12.8232 6.23744 12.8232 6.53033 12.5303L10.5303 8.53033C10.8207 8.23999 10.8236 7.77014 10.5368 7.47624L6.63419 3.47624C6.34492 3.17976 5.87009 3.17391 5.57361 3.46318C5.27713 3.75244 5.27128 4.22728 5.56054 4.52376L8.94583 7.99351L5.46967 11.4697Z"
              ></path></svg
            >
          </div></span
        >
      </div>
    </div></a
  >

  <!-- Third -->
  <a
    class="CustomerTable_row__TBvEg Link_root__cNtak"
    target="_blank"
    rel="noopener noreferrer"
    href="https://www.cursor.com/"
    ><div
      class="Grid_root__iRfoa"
      style='width: 100%; align-items: center; --grid-areas-default: "a a a a a c c c c . d d"; --grid-areas-tablet: "a a a a d d d d"; --grid-areas-mobile: "a a d d";'
    >
      <div class="Grid_a__vY7M8">
        <div
          class="Flex_root__DOQCW Flex_align-center__oXK9F"
          style="gap: 16px;"
        >
          <div class="CustomerTable_symbol__VvHIz">
            <img
              alt="Cursor logo"
              data-nosnippet="true"
              data-loaded="true"
              loading="lazy"
              width="56"
              height="56"
              decoding="async"
              data-nimg="1"
              class="Image_root__UkRqc"
              src="https://webassets.linear.app/images/ornj730p/production/74578d2b40ee00432db7c5a910fbcd9899fdd522-56x56.svg?q=95&auto=format&dpr=2"
              style="color: transparent;"
            />
          </div><span class="sc-14eeae68-0 elDVBz">Cursor</span>
        </div>
      </div><div class="hide-tablet Grid_c__Tv5Qw">
        <span class="sc-14eeae68-0 ikOIDN"><span>AI</span></span>
      </div><div class="Grid_d__WN1qv" style="justify-self: end;">
        <span class="sc-14eeae68-0 eTSIlF"
          ><span class="sc-14eeae68-0 jfdaEz"
            ><div
              class="Flex_root__DOQCW Flex_inline__8Gx2p Flex_center__qqy7h"
              style="gap: 6px;"
            >
              Visit site<svg
                class=""
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="currentColor"
                role="img"
                focusable="false"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                style="--icon-color: currentColor;"
                ><path
                  d="M7.184 3.894a.75.75 0 0 0-.136 1.494l2.295.209-4.879 4.878a.75.75 0 0 0 1.061 1.06l4.878-4.878.209 2.295a.75.75 0 1 0 1.494-.136l-.354-3.89a.75.75 0 0 0-.679-.678l-3.889-.354Z"
                ></path></svg
              >
            </div></span
          ></span
        >
      </div>
    </div></a
  >
</div>
