---
import "../styles/tailwind.css";

import { SEO } from "astro-seo";
import Favicons from "@/layouts/blocks/Favicons.astro";

import MainScript from "@/scripts/MainScript.astro";
import DrawerAttachScript from "@/scripts/DrawerAttachScript.astro";
import ObserverScript from "@/scripts/ObserverScript.astro";
import { ClientRouter } from "astro:transitions";

import TwSizeIndicator from "@/layouts/blocks/TwSizeIndicator.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

import config from "@/config.json";
import { footerData } from "@/navigation";
const { content, mode } = Astro.props;
---

<!doctype html>
<!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -->
<html lang="en" class={mode}>
  <head>
    <!-- Info-->
    <meta name="viewport" content="width=device-width" />

    <!-- astro-seo component -->
    <SEO
      charset="UTF-8"
      title={content.title}
      description={content.description || config.metadata.meta_description}
      openGraph={{
        basic: {
          title: content.title, // Use the same title for og:title
          type: "website", // Or 'article', 'profile' etc. Adjust accordingly
          image: content.image || config.metadata.meta_image,
        },
        image: {
          alt: content.imageAlt || config.metadata.meta_image_alt,
          width: 1200,
          height: 630,
        },
        optional: {
          siteName: config.site.title,
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: `@${config.site.company}`,
      }}
      canonical={content.canonical}
    />

    <Favicons />

    <!-- Additional Integrations -->
    <ClientRouter />

    <!-- Scripts -->
    <MainScript />
    <DrawerAttachScript />
  </head>

  <!-- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- -->

  <body class="relative w-screen overflow-x-hidden sm:overscroll-y-none">
    <TwSizeIndicator />
    <div class="relative flex w-full flex-none flex-col justify-between">
      <Header />
      <main
        id="main-content"
        class="relative mx-3 mt-14 grow border-x md:mx-8 lg:mx-12"
      >
        <slot />
      </main>
      <Footer {...footerData} />
    </div>

    <!-- Side accessories -->
    <div class="absolute top-0 left-0 z-[-1] h-full w-3 md:w-8 lg:w-12"></div>
    <div class="absolute top-0 right-0 z-[-1] h-full w-3 md:w-8 lg:w-12"></div>
    <ObserverScript />
  </body>
</html>
